.slider {
  position: relative;

  width: 320px;
  min-height: 240px;

  background: url("../img/main-slider-mobile.jpg") no-repeat;
}

.slider__title {
  margin: 0;
  padding: 35px 0 0 15px;

  font-size: 49px;
  font-family: "lemontuesday";
  color: #84c604;
}

.slider__text {
  box-sizing: border-box;
  margin-left: 15px;

  font-style: italic;
  font-family: "Open sans";
  color: #ffffff;
}

.slider__discount {
  position: absolute;
  top: 90px;
  right: 20px;

  width: 70px;
  height: 60px;

  font-family: "Open sans";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;

  background: linear-gradient(to top, #b81f24, #df2024);
  border-radius: 50%;
}

.slider__pagination {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 120px;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #cfcfcf;

    &:nth-of-type(2) {
      margin-left: 25px;
  }
    &:nth-of-type(3) {
      margin-left: 50px;
  }
}

.slider__item {
  display: none;
}

#slide1:checked ~ .slider label[for="slide1"],
#slide2:checked ~ .slider label[for="slide2"],
#slide3:checked ~ .slider label[for="slide3"], {
  background-color: #1fba0a;
  border-color: #1fba0a;
}

#slide1:checked ~ .slider .slider__item--1,
#slide2:checked ~ .slider .slider__item--2,
#slide3:checked ~ .slider .slider__item--3, {
  display: block;
}
