.user-menu {
	list-style: none;
  font-size: 0;
	& a {
		text-decoration: none;
		color: black;
	}
}

.user-menu__cabinet {
  position: relative;
  &:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -40px;
    left: 200px;
    background: url("../img/icon-user.png") no-repeat;

  }
}

.user-menu__basket {
  position: relative;
  &:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -40px;
    left: 235px;
    background: url("../img/icon-basket.png") no-repeat;

  }
}
